@font-face{
	font-family: "CozetteVector";
	src: url("./assets/fonts/CozetteVector/CozetteVector.ttf")
	format("truetype");
	font-weight: normal;
	font-style: normal;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "CozetteVector", sans-serif;
}

body{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23000000' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
	animation: move 20s linear infinite forwards alternate;
	background-size: 50 50;
}

@keyframes move{
	from{
		background-position: 0 0;
	}
	to{
		background-position: 0 -200px;
	}
}

form{
	color: white;
	border: solid 2px black;
	padding: 3rem;
	gap: 5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #000000;
	width: 50%;

	&>#info{
		width: 100%;
		display: flex;
		gap: 2rem;
		border: solid 3px black;
		flex-direction: column;
		height: 100%;
		&>input{
			color: white;
			background-color: transparent;
			border: none;
			border-bottom: solid 0.1px white;
			padding-bottom: 7px;
			height: 100%;
		}
		&>input:focus{
			outline: none;
		}
		&>input[type="submit"]{
			width: 40%;
		}
	}
	&>#img-container{
		width: 100%;
		display: flex;
		flex-direction: column;
		height: fit-content;
		overflow: hidden;
		&>.lines{
			transform: translateX(-10px);
			margin: .5rem;
			text-align: center;
			width: 100%;
			font-size: 1.6vh;
			opacity: 0.5;
		}
	}
}

@media screen  and (max-width:726px){
	form{
		flex-direction: column-reverse;
		&>#img-container{
			width: 100%;
		}
		&>input{
			justify-content: center;
		}
	}
	body{
		background-color: white;
	}
}

@keyframes fade{
	to{
		opacity: 0;
	}
}

#loading{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: black;
	z-index: 99;
	visibility: visible;
	&>p{
		font-size: 1.5rem;
		text-align: center;
		color: white;
	}
}
