* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: CozetteVector, Maple Mono;
    list-style: none;
}

body {
    background-color: rgb(11, 153, 158);
    height: 100vh;
    background-color: black;
    /*background-image: url("/static/assets/berserk.jpg");*/
    background-position: center;
    background-size: 100%;
    overflow: hidden;

}

.icon {
    color: white;
    position: relative;
    width: fit-content;
    height: fit-content;
    user-select: none;
    text-align: center;
    &>p {
        width: 50px;
        text-align: center;
    }
}

.icon:hover {
    transform: scale(1.1, 1.1);
}

#lIcons {
    padding: 4rem;
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 3rem;
    text-align: start;
}

.window-bar {
    width: 100%;
    height: 40px;
    background-color: rgb(201, 201, 201);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 5px;
    user-select: none;
    background-image: linear-gradient( to right, rgb(29, 29, 80) 30%, rgb(201, 201, 201) 100%);
    &>.bar-title {
        color: white;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: fit-content;
    }
    &>div {
        display: flex;
        gap: 1rem;
        width: 25%;
        text-align: center;
    }
}

#windows{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.window {
    position: absolute;
    background-color: rgb(192, 192, 192);
}

#content {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 90%;
    justify-content: space-evenly;
    gap: 2rem;
    align-self: flex-end;
    border: solid 2px rgb(136, 136, 136);
    overflow-y: hidden;
    margin: 2rem;
    h1 {
        font-size: 3rem;
    }
    li {
        text-align: start;
    }
}
#proPic {
    border: solid 2px grey;
}

.elements {
    display: inline;
    padding: 0.2rem;
    width: 100%;
    border: solid 2px rgb(201, 201, 201);
    border-bottom: solid 2px black;
}

.elements.close:hover {
    color: white;
    background-color: #d8274e;
}

.about {
    width: 35.25rem;
    height: 40.75rem;
    display: flex;
    border: solid 1.6px black;
    flex-direction: column;
}

#top-bar {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    text-align: center;
    user-select: none;
    &>#me {
        background-color: rgb(192, 192, 192);
        border: solid 2px black;
        border-bottom: solid 2px white;
        width: 100%;
        cursor: pointer;
    }
    &>#links {
        background-color: rgb(192, 192, 192);
        border: solid 2px white;
        border-bottom: solid 2px black;
        width: 100%;
        cursor: pointer;
    }
}

#form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    &>textarea {
        resize: none;
        width: 385px;
        height: 193px;
    }
    &>*:focus {
        outline: 1px solid black;
    }
}

#contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
    width: fit-content;
    height: fit-content;
}

#error-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
    width: fit-content;
    height: fit-content;
}

#error {
    border: solid 1px;
    width: 30rem;
}

#ad-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
    width: fit-content;
    height: fit-content;
    &>img{
    overflow: auto;

        outline: solid 2px rgb(255, 141, 141);
        width: 100%;
        height: 100%;
    }
}

#ad {
    width: 30rem;
    height: 12.5rem;
}

@keyframes fade{
	to{
		opacity: 0;
	}

}

#loading{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: black;
	z-index: 99;
	visibility: visible;
	&>p{
		font-size: 1.5rem;
		text-align: center;
		color: white;
	}
}
#welcome{
	background-color: rgba(255,255,255,0);
	width: 100vw;
	position: absolute;
	top: 30vh;
	height: fit-content;
	display: none;
	z-index: 10;
	justify-content: center;
	align-items: center;
	&>*{
		font-size: 30vh;
		background-color: white;
	}
}
